.quiz_container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quiz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
}

.quiz-question {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #644ed2;
  width: 100%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 0;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.btn-option {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #18ab29;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 16px 31px;
  margin-top: 16px;
}

.btn-option:hover{
  background-color: #5cbf2a;
}

.btn-option:active{
  position: relative;
  top: 1px;
}

.quiz-result{
  width: 100%;
  height: 350px;
  background-color: #210239;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}