<div class="quiz_container">
  <div class="quiz_logo">
    <img src="assets/logo/buzzfeed-logo.png" alt="buzzfeed logo" width="600" />   
    <h1>{{ title }}</h1>
  </div>
  @if (!finished) {
  <div class="quiz-question">
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div class="quiz-options">
    @for (option of questionSelected.options; track $index) {
    <button (click)="playerChoose(option.alias)" class="btn-option">
      {{ option.name }}
    </button>
    }
  </div>
  } @if (finished) {
  <div class="quiz-result">
    <h3>Seu resultado é:</h3>
    <p>{{ answersSelected }}</p>
    <button>Refazer Quiz</button>
  </div>
  }
</div>
